body{
    background-color: black;
}

.Gallery{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Gallery-list{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.Gallery-photo{
    width: 400px;

}

.Gallery-btn{
    display: flex;
    gap: 10px;
}